<?xml version="1.0" encoding="utf-8" ?>
<!--
Sample license text.
-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="db" xsi:type="Database"
        dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
        connectionString="Data Source = LogDb.db">
      <commandtext>
        INSERT into Logs
        (CreatedTime, Level, Stacktrace, Callsite, Message, Thread, ThreadName, MachineName, Exception, ExceptionStacktrace, Identity, User)
        VALUES
        (@CreatedTime, @Level, @Stacktrace, @Callsite, @Message, @Thread, @ThreadName, @MachineName, @Exception, @ExceptionStacktrace, @Identity, @User)
      </commandtext>
      <parameter name="@CreatedTime" layout="${longdate}"/>
      <parameter name="@Level" layout="${level:uppercase=true}"/>
      <parameter name="@Stacktrace" layout="${stacktrace}"/>
      <parameter name="@Callsite" layout="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True:skipFrames=2}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@Thread" layout="${threadid}"/>
      <parameter name="@ThreadName" layout="${threadname}"/>
      <parameter name="@MachineName" layout="${machinename}"/>
      <parameter name="@Exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>
      <parameter name="@ExceptionStacktrace" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>
      <parameter name="@Identity" layout="${identity}"/>
      <parameter name="@User" layout="${event-properties:User}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="db" />    
  </rules>
</nlog>